<h2>我的訂購單</h2>
<script type="text/javascript">
  function check_total(trip_sn,amount,price){
    var total=amount*price;
    $("#total_" + trip_sn).html(total + " 元");
    $("#trip_total_" + trip_sn).val(total);

    var sum = 0;
    $('.price').each(function() {
        sum += Number($(this).val());
    });
    $("#bill_total_display").html(sum + " 元");
    $("#bill_total").val(sum);
  }
</script>
<form action="bill.php" method="post" class="form-horizontal">
  {foreach from=$cart_arr key=trip_sn item=trip}
    <div class="form-group">
      <label class="col-md-4 control-label" for="trip_amount">{$trip.trip_title}</label>
      <div class="col-md-1">
        <input type="text" class="form-control" name="trip_amount[{$trip_sn}]" id="trip_amount_{$trip_sn}" placeholder="商品數量" value="{$trip.trip_amount}" onchange="check_total('{$trip_sn}', this.value ,'{$trip.trip_price}')">
      </div>
      <div class="col-md-2 text-right">
        <p class="form-control-static">x {$trip.trip_price} 元 = </p>
      </div>
      <div class="col-md-2 text-right">
        <p class="form-control-static" id="total_{$trip_sn}">{$trip.trip_total} 元</p>
        <input type="hidden" name="trip_total[{$trip_sn}]" class="price" id="trip_total_{$trip_sn}" value="{$trip.trip_total}">
      </div>
    </div>
  {/foreach}
  <hr>
  <div class="form-group">
    <div class="col-md-offset-7 col-md-2 text-right">
      <p class="form-control-static" id="bill_total_display">{$bill_total} 元</p>
      <input type="hidden" class="form-control" name="bill_total" id="bill_total" placeholder="總計" value="{$bill_total}">
    </div>
  </div>
  <div class="text-center">
    <input type="hidden" name="op" value="save_bill">
    <button type="submit" class="btn btn-primary">送出訂購單</button>
  </div>
</form>
